---
import { snippetz } from "@scalar/snippetz";
import OperationExample, { type ExampleData } from "./OperationExample.astro";
import { OperationExamplesIsland } from "./OperationExamplesIsland";
import { INITIAL_CLIENT, INITIAL_TARGET } from "./constants";

type Props = ExampleData;

const example: Props = Astro.props;
const targets = snippetz().clients();
---

<div class="operation-examples not-content !mb-8">
  <OperationExamplesIsland
    client:load
    targets={targets}
    initialTarget={INITIAL_TARGET}
    initialClient={INITIAL_CLIENT}
  >
    <Fragment slot="examples">
      {
        targets.flatMap((target) =>
          target.clients.map((client) => (
            <OperationExample
              example={example}
              target={target.key}
              client={client.client}
              isActive={target.key === INITIAL_TARGET && client.client === INITIAL_CLIENT}
            />
          )),
        )
      }
    </Fragment>
  </OperationExamplesIsland>
</div>
