---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import FallbackContentNotice from "@astrojs/starlight/components/FallbackContentNotice.astro";
import { getCollection, render } from "astro:content";
import { SUPPORTED_LANGUAGES } from "~/config/18n";
import { isMoveReferenceEnabled } from "~/utils/isMoveReferenceEnabled";

export async function getStaticPaths() {
  if (!isMoveReferenceEnabled()) {
    return [];
  }

  const moveReferenceEntries = await getCollection("moveReference");

  return moveReferenceEntries.flatMap((entry) =>
    SUPPORTED_LANGUAGES.map(({ code }) => ({
      params: {
        lang: code === "en" ? undefined : code,
        slug: entry.id,
      },
      props: { entry },
    })),
  );
}

const { entry } = Astro.props;
const { Content, headings } = await render(entry);

// Create title in Move Module 0x1 format vs SEO-friendly format
// const title = `Module 0x1::${moduleTitle}`; // e.g. "Module 0x1::bit_vector"
const title = `${entry.data.title} - [${entry.data.network}]`; // e.g. "bit_vector - Move Module"
const editUrl = entry.data.editUrl;
const lastUpdated = entry.data.lastUpdated ? new Date(entry.data.lastUpdated) : undefined;
---

<StarlightPage
  frontmatter={{
    title,
    editUrl,
    lastUpdated,
  }}
  headings={headings}
>
  {Astro.currentLocale !== "en" && <FallbackContentNotice />}
  <!-- <div class="metadata">
    <span class="branch">{branch}</span>
    <span class="framework">{framework}</span>
  </div> -->
  <Content />
</StarlightPage>

<style>
  .metadata {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .branch,
  .framework {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: 999px;
    font-size: var(--sl-text-sm);
    font-weight: 500;
  }
  .branch {
    background-color: var(--sl-color-blue-high);
    color: var(--sl-color-white);
  }
  .framework {
    background-color: var(--sl-color-gray-5);
    color: var(--sl-color-gray-1);
  }
</style>
